@model Eduardo_G_300999807.Models.Club

@{
	ViewData["Title"] = "UpdateClub";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-controller="Crud" asp-action="UpdateClub" method="post">
	@await Html.PartialAsync("~/Views/Shared/_ClubForm.cshtml", Model);
	<button type="submit" class="btn btn-primary">Update Club</button>
	<button asp-controller="Crud" asp-action="DeleteClub" asp-route-clubId="@Model.ClubId" class="btn btn-dark">Delete</button>
</form>
