@model Eduardo_G_300999807.Models.Club

<input type="hidden" name="ClubID" asp-for="ClubId" />

<div class="form-group">
	<label for="Name" asp-for="Name">Name:</label>
	<input type="text" class="form-control" id="Name" placeholder="Club Name" asp-for="Name">
</div>
<div class="form-group">
	<label for="League" asp-for="League">League</label>
	<select class="form-control" id="League" asp-for="League">
		<option value="ESP1">ESP1</option>
		<option value="ENG1">ENG1</option>
		<option value="GER1">GER1</option>
		<option value="ITA1">ITA1</option>
	</select>
</div>