@model Eduardo_G_300999807.Models.Club

@{
	ViewData["Title"] = "ClubAdd";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="ClubAdd" method="post">
	@await Html.PartialAsync("~/Views/Shared/_ClubForm.cshtml");
	<button type="submit" class="btn btn-primary">Add Club</button>
	<button asp-action="Index" class="btn btn-dark">Cancel</button>
</form>

