@model Eduardo_G_300999807.Models.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Login</h2>

<div class="text-danger" asp-validation-summary="All"></div>
<form asp-action="Login" asp-controller="Account" method="post">
    <input type="hidden" asp-for="ReturnUrl" />
    <div class="form-group">
        <label asp-for="Name">Username</label>
        <div><span asp-validation-for="Name" class="text-danger"></span></div>
        <input asp-for="Name" class="form-control" placeholder="Username">
    </div>
    <div class="form-group">
        <label asp-for="Password">Password</label>
        <div><span asp-validation-for="Password" class="text-danger"></span></div>
        <input asp-for="Password" type="password" class="form-control" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
</br>
<div>
    <table>
        <th>Admin:</th>
        <tr><td>username: Admin</td></tr>
        <tr><td>password: Abc123$</td></tr>

    </table>
</div>
